{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ include('ui/admin/author/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('ui_admin_author.index') }}">Back to list</a>

    {{ include('ui/admin/author/_delete_form.html.twig') }}
{% endblock %}
