{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    {{ include('ui/admin/author/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('ui_admin_author.index') }}">Back to list</a>
{% endblock %}
