{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ include('ui/admin/book/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('ui_admin_book.index') }}">Back to list</a>
{% endblock %}
